02-email-intake-task-pipeline.json
{
  "updatedAt": "2026-04-17T05:53:02.761Z",
  "createdAt": "2026-04-17T05:53:02.761Z",
  "id": "b26ffb5b-533d-4ab6-8e2e-85d49770263b",
  "name": "Email Intake \u2192 Task Pipeline",
  "description": "Gmail cada 1 min: extrae action items \u2192 Google Tasks",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "name": "Gmail Trigger",
      "type": "@n8n/n8n-nodes-base.gmailTrigger",
      "parameters": {
        "pollTimes": {
          "__rl": true,
          "mode": "everyMinute"
        }
      },
      "position": [
        0,
        0
      ],
      "typeVersion": 1.0,
      "id": "26aececa-069c-4746-a416-031e74cf4f32"
    },
    {
      "name": "Filter: Only FROM Contacts",
      "type": "@n8n/n8n-nodes-base.switch",
      "parameters": {
        "dataType": "string",
        "valueComparison": {
          "mode": "name",
          "name": "={{$json.from}}"
        },
        "rules": {
          "values": [
            {
              "value2": "",
              "operation": "notExists"
            }
          ]
        },
        "fallbackOutput": "output"
      },
      "position": [
        220,
        0
      ],
      "typeVersion": 1.0,
      "id": "bc32f32d-a60b-4816-b769-eb595b6c5952"
    },
    {
      "name": "Extract Action Items (AI)",
      "type": "@n8n/n8n-nodes-base.openAi",
      "parameters": {
        "resource": "chat",
        "operation": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Eres un asistente que extrae action items de emails. Devuelve SOLO un JSON array con objetos: [{\"task\": \"descripcion\", \"assignee\": \"quien lo hace\", \"due\": \"YYYY-MM-DD o null\", \"priority\": \"high/medium/low\"}]. Si no hay action items, devuelve []. Solo devuelve el JSON, nada m\u00e1s."
            },
            {
              "role": "user",
              "content": "={{$json.body}"
            }
          ]
        },
        "options": {
          "temperature": 0.1
        }
      },
      "position": [
        440,
        0
      ],
      "typeVersion": 1.0,
      "id": "9c3d311d-8f85-4eb7-b941-067c9f91bdfc"
    },
    {
      "name": "Parse JSON",
      "type": "@n8n/n8n-nodes-base.set",
      "parameters": {
        "mode": "raw",
        "assignments": {
          "assignments": [
            {
              "name": "actions",
              "value": "={{$json.choices[0].message.content}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "position": [
        660,
        0
      ],
      "typeVersion": 1.0,
      "id": "f8c99480-0ba0-48a2-8c09-027111a743d0"
    },
    {
      "name": "Code: Parse Actions Array",
      "type": "@n8n/n8n-nodes-base.code",
      "parameters": {
        "jsCode": "const text = $input.first().json.actions;\ntry {\n  const actions = JSON.parse(text);\n  return actions.map(a => ({...a, source_email: $('Gmail Trigger').first().json.subject, source_from: $('Gmail Trigger').first().json.from}));\n} catch(e) {\n  return [];\n}"
      },
      "position": [
        880,
        0
      ],
      "typeVersion": 1.0,
      "id": "6cc2459c-15a5-4195-8f45-7f1f115ca072"
    },
    {
      "name": "Router: Create Task per Action",
      "type": "@n8n/n8n-nodes-base.router",
      "parameters": {
        "nodeDefinition": {
          "sourceData": {
            "byItem": true
          }
        }
      },
      "position": [
        1100,
        0
      ],
      "typeVersion": 1.0,
      "id": "30e408a5-550b-472d-af2c-0b93181bffe6"
    },
    {
      "name": "Create Google Task",
      "type": "@n8n/n8n-nodes-base.googleTasks",
      "parameters": {
        "operation": "createTask",
        "taskList": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "title": "={{$json.task}}",
        "notes": "={{'From: ' + $json.source_from + '\\nEmail: ' + $json.source_email}}",
        "dueDate": "={{$json.due}}",
        "options": {}
      },
      "position": [
        1320,
        0
      ],
      "typeVersion": 1.0,
      "id": "58691adb-5bd9-4266-b482-39a2a3de8ecc"
    },
    {
      "name": "Label Email as Processed",
      "type": "@n8n/n8n-nodes-base.gmail",
      "parameters": {
        "operation": "addLabel",
        "label": "processed-by-logos"
      },
      "position": [
        1540,
        0
      ],
      "typeVersion": 1.0,
      "id": "24c5ca1f-4122-414b-9587-65cd377d231e"
    },
    {
      "name": "Notify Task Created",
      "type": "@n8n/n8n-nodes-base.pushover",
      "parameters": {
        "message": "\u2705 Tarea creada: {{$json.task}} ({{$json.assignee}})",
        "title": "Email \u2192 Tarea"
      },
      "position": [
        1760,
        0
      ],
      "typeVersion": 1.0,
      "id": "4fd2edcd-181a-49de-8fcd-3de71cc40371"
    },
    {
      "name": "Error Handler",
      "type": "@n8n/n8n-nodes-base.errorTrigger",
      "parameters": {},
      "position": [
        1980,
        300
      ],
      "typeVersion": 1.0,
      "id": "51e83f4b-4920-43e3-b242-ca3495eb32e3"
    },
    {
      "name": "Notify Error",
      "type": "@n8n/n8n-nodes-base.pushover",
      "parameters": {
        "message": "\u274c Email\u2192Task Pipeline Error: {{$json.error.message}}",
        "title": "Workflow Error",
        "priority": 2
      },
      "position": [
        2200,
        300
      ],
      "typeVersion": 1.0,
      "id": "7e73b508-4eb0-48cd-97d0-e839941531f3"
    },
    {
      "name": "Write Error to Log",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "parameters": {
        "url": "https://script.google.com/macros/s/{{$env.GAS_ERROR_SCRIPT_ID}}/exec",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow",
              "value": "Email-Task-Pipeline"
            },
            {
              "name": "error",
              "value": "={{$json.error.message}}"
            },
            {
              "name": "timestamp",
              "value": "={{$now}}"
            }
          ]
        }
      },
      "position": [
        2420,
        300
      ],
      "typeVersion": 1.0,
      "id": "1f0b31c2-1a2e-42d9-8c00-13f228a33769"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter: Only FROM Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Only FROM Contacts": {
      "main": [
        [
          {
            "node": "Extract Action Items (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Action Items (AI)": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Code: Parse Actions Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Actions Array": {
      "main": [
        [
          {
            "node": "Router: Create Task per Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: Create Task per Action": {
      "main": [
        [
          {
            "node": "Create Google Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Google Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Task": {
      "main": [
        [
          {
            "node": "Label Email as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label Email as Processed": {
      "main": [
        [
          {
            "node": "Notify Task Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Notify Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Error": {
      "main": [
        [
          {
            "node": "Write Error to Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "versionId": "0e60464d-3400-4243-83ed-cf429effd79d",
  "activeVersionId": "0e60464d-3400-4243-83ed-cf429effd79d",
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "projectId": "y8YB5n4L5hyzosCq",
      "role": "workflow:owner"
    }
  ]
}