03-client-onboarding.json
{
  "updatedAt": "2026-04-17T05:53:02.761Z",
  "createdAt": "2026-04-17T05:53:02.761Z",
  "id": "b69d28fe-60d2-47b5-b3a3-b557a368a153",
  "name": "Client Onboarding Automation",
  "description": "Webhook: nuevo cliente \u2192 8 tareas + emails + Notion",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "client-onboard",
        "responseMode": "lastNode",
        "options": {}
      },
      "position": [
        0,
        0
      ],
      "typeVersion": 1.0,
      "id": "fbe661f9-961b-4ade-8afc-cc1ab1103c84"
    },
    {
      "name": "Validate Payload",
      "type": "n8n-nodes-base.switch",
      "parameters": {
        "dataType": "string",
        "valueComparison": {
          "mode": "name",
          "name": "={{$json.client_email}}"
        },
        "rules": {
          "values": [
            {
              "value2": "",
              "operation": "notExists"
            }
          ]
        },
        "fallbackOutput": "null"
      },
      "position": [
        220,
        0
      ],
      "typeVersion": 1.0,
      "id": "331a4f1c-b4f8-49a6-8c54-1f1f81fc629b"
    },
    {
      "name": "Code: Build Onboarding Data",
      "type": "n8n-nodes-base.code",
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst now = new Date();\nconst due = (days) => {\n  const dt = new Date(now);\n  dt.setDate(dt.getDate() + days);\n  return dt.toISOString();\n};\nreturn [{\n  json: {\n    client_name: d.client_name,\n    client_email: d.client_email,\n    company: d.company,\n    service: d.service,\n    start_date: d.start_date || now.toISOString().split('T')[0],\n    tasks: [\n      { task: 'Enviar email de bienvenida + brochure', due: due(1), priority: 'high' },\n      { task: 'Agendar llamada de descubierta (30 min)', due: due(3), priority: 'high' },\n      { task: 'Enviar formulario de intake', due: due(3), priority: 'medium' },\n      { task: 'Crear carpeta en Drive + compartir', due: due(2), priority: 'medium' },\n      { task: 'Preparar propuesta detallada', due: due(7), priority: 'medium' },\n      { task: 'Generar invoice de setup si aplica', due: due(5), priority: 'medium' },\n      { task: 'Primer entregable seg\u00fan servicio', due: due(14), priority: 'high' },\n      { task: 'Revisi\u00f3n 30 d\u00edas + feedback', due: due(30), priority: 'low' }\n    ]\n  }\n}];"
      },
      "position": [
        440,
        0
      ],
      "typeVersion": 1.0,
      "id": "5fb53a56-d199-40ba-9436-13181c9cb070"
    },
    {
      "name": "Router: All Onboarding Steps",
      "type": "n8n-nodes-base.splitInBatches",
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "position": [
        660,
        0
      ],
      "typeVersion": 1.0,
      "id": "385a50af-70ac-4834-a681-0b64c86b314c"
    },
    {
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "parameters": {
        "operation": "send",
        "to": "={{$json.client_email}}",
        "subject": "={{'Bienvenido ' + $json.client_name + ' - Vamos a empezar!'}}",
        "body": "={{'Hola ' + $json.client_name + ',\\n\\nGracias por confiar en nosotros. Estamos emocionados de trabajar con ' + $json.company + ' en ' + $json.service + '.\\n\\nPr\u00f3ximos pasos:\\n1. Revis\u00e1 el brochure adjunto\\n2. Agendamos una llamada de descubierta\\n3. Te vamos a enviar un formulario de intake\\n\\nTe escribimos pronto!\\n\\nSaludos,\\nLogos (AI Assistant de Anthony)'}}",
        "attachments": {
          "mappingMode": "defineBelow",
          "value": [
            {
              "name": "={{'Brochure-' + $json.company + '.pdf'}}"
            }
          ]
        }
      },
      "position": [
        880,
        -200
      ],
      "typeVersion": 1.0,
      "id": "ec70dbb6-4563-4972-8f40-d0302e986df0"
    },
    {
      "name": "Create Task (Google Tasks)",
      "type": "n8n-nodes-base.googleTasks",
      "parameters": {
        "operation": "createTask",
        "taskList": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "title": "={{$json.tasks[$vars.clientIndex].task}}",
        "notes": "={{'Cliente: ' + $json.client_name + ' (' + $json.client_email + ')\\nEmpresa: ' + $json.company}}",
        "dueDate": "={{$json.tasks[$vars.clientIndex].due}}",
        "options": {}
      },
      "position": [
        880,
        0
      ],
      "typeVersion": 1.0,
      "id": "ff360b02-3177-4813-bb74-421d1251370b"
    },
    {
      "name": "Create Notion Page (Client Folder)",
      "type": "n8n-nodes-base.httpRequest",
      "parameters": {
        "url": "https://api.notion.com/v1/pages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.NOTION_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "parent",
              "value": {
                "database_id": "{{$env.NOTION_CLIENTS_DB}}"
              }
            },
            {
              "name": "properties",
              "value": {
                "Name": {
                  "title": [
                    {
                      "text": {
                        "content": "={{$json.client_name}}"
                      }
                    }
                  ]
                },
                "Email": {
                  "email": "={{$json.client_email}}"
                },
                "Company": {
                  "rich_text": [
                    {
                      "text": {
                        "content": "={{$json.company}}"
                      }
                    }
                  ]
                },
                "Service": {
                  "select": {
                    "name": "={{$json.service}"
                  }
                },
                "Status": {
                  "select": {
                    "name": "Onboarding"
                  }
                }
              }
            }
          ]
        }
      },
      "position": [
        880,
        200
      ],
      "typeVersion": 1.0,
      "id": "014b6b03-bd3c-44a4-8bd7-deece4a95468"
    },
    {
      "name": "Notify Anthony (Pushover)",
      "type": "n8n-nodes-base.pushover",
      "parameters": {
        "message": "\ud83c\udd95 Nuevo cliente onboardeado: {{$json.client_name}} ({{$json.company}})\nServicio: {{$json.service}}\n{{$json.tasks.length}} tareas creadas",
        "title": "Cliente Nuevo - Onboarding",
        "sound": "cashregister"
      },
      "position": [
        1100,
        0
      ],
      "typeVersion": 1.0,
      "id": "0ec45108-fee7-4761-aa3a-461a84ae5e04"
    },
    {
      "name": "Done: Send Confirmation",
      "type": "n8n-nodes-base.gmail",
      "parameters": {
        "operation": "send",
        "to": "={{$json.client_email}}",
        "subject": "Tu onboarding est\u00e1 en marcha!",
        "body": "={{'Hola ' + $json.client_name + ',\\n\\nConfirmamos que todo est\u00e1 listo. Vas a recibir un email con el brochure y pronto te vamos a contactar para agendar nuestra llamada.\\n\\nSaludos!'}}"
      },
      "position": [
        1320,
        0
      ],
      "typeVersion": 1.0,
      "id": "5326cbd7-6896-47db-8d7e-ea97240c5969"
    },
    {
      "name": "Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "parameters": {},
      "position": [
        1540,
        400
      ],
      "typeVersion": 1.0,
      "id": "f6e69ce9-820b-4e83-b699-c283d78140a1"
    },
    {
      "name": "Notify Onboarding Error",
      "type": "n8n-nodes-base.pushover",
      "parameters": {
        "message": "\u274c Onboarding Error: {{$json.error.message}} - Cliente: {{$json.client_email}}",
        "title": "Workflow Error",
        "priority": 2
      },
      "position": [
        1760,
        400
      ],
      "typeVersion": 1.0,
      "id": "c6838732-a60f-4d13-90bf-87244cbcabdf"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Code: Build Onboarding Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Onboarding Data": {
      "main": [
        [
          {
            "node": "Router: All Onboarding Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: All Onboarding Steps": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Task (Google Tasks)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Notion Page (Client Folder)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Anthony (Pushover)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done: Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Notify Onboarding Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "versionId": "342b8d9b-5168-447d-b44e-44eaae2c7a60",
  "activeVersionId": "342b8d9b-5168-447d-b44e-44eaae2c7a60",
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "projectId": "y8YB5n4L5hyzosCq",
      "role": "workflow:owner"
    }
  ]
}